@charset "UTF-8";

*{
  margin: 0px;
  padding: 0px;
}

html, body{
  min-width: 100vh;
  background-color: lightgray;
}

header {
  background-color: black;
  color: white;
  text-align: center
}
header > h1{
  padding-top: 50px;
  font-variant: small-caps;
}
header > p{
  padding-bottom: 50px;
}
a{
  color: white;
  text-decoration: none;
  font-weight: bolder;
}
a:hover, footer a:hover{
  text-decoration: underline;
}
footer{
  background-color: black;
  text-align: center;
  padding: 10px;
  color: white;
}
section{
  padding-top: 10vh;
  padding-bottom: 10vh;
  line-height: 2em;
  padding-left: 30px;
}
section.normal{
  background-color: white;
  color: black;
}
section.imagem{
  background-color: rgb(70, 70, 70);
  color: white;
}
section.imagem{
  background-color: rgba(0, 0, 0, 0.623);
  width: 400px;
}